
.header-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    z-index: 11;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    font-family: "Roboto";
    font-style: normal;


}
.logo::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    animation: showRigth  1s ease forwards;
    animation-delay: .4s;


}

.navbar a{
    font-size: 18px; 
    color: #ededed; 
    text-decoration: none;
    font-weight: 500;
    margin-left: 45px;
    transition: .5s;
    font-family: "Roboto";
    font-style: normal;
}
.navbar a:hover ,
.navbar a.active {
    color: #00abf0;

}


// home=section start//
.home{
    position: relative;
    background-color: #000000;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2% 0 10%;
    color: white;

}
.home-content {
    max-width: 600px;
}
.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 82px;
    font-family: "Roboto";
    font-style: normal;
}
.home-content h1::before
 {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    animation: showRigth  1s ease forwards;
    animation-delay: .2s;


}
.home-content h3::before
 {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    animation: showRigth  1s ease forwards;
    animation-delay: .3s;


}
.home-content h3{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
    font-family: "Roboto";
    font-style: normal;
}
.home-content p {
    position: relative;
    font-size: 15px;
    margin: 20px 0 40px 0;
    line-height: 1.9;
    font-family: "Roboto";
    font-style: normal;
}
.home-content p::before
 {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    animation: showRigth  1s ease forwards;
    animation-delay: .4s;


}
.home-content .btn-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
    height: 50px;
}
.btn-box::before
 {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    animation: showRigth  1s ease forwards;
    animation-delay: .5s;


}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: #081b29;
    width: 150px;
    height: 100%;
    background:#00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-weight: 900;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box :nth-child(2) {
    background: transparent;
    color: #00abf0;
}
.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #081b29;
    z-index: -1;
    transition: .3s;
    
}
.btn-box a:hover{
    background: #081b29;
    color: #00abf0;
}
.btn-box :nth-child(2):hover{
    color: #081b29;
}
.btn-box :nth-child(2)::before {
    background-color: #00abf0;
}
.btn-box a:hover::before {
    left: 0;
    width: 100%;
}
.home-img {
    position: relative;
    // background-image: url(./../img/1.png);
     width: 50%;
     background-size: cover;
    background-repeat: no-repeat;
}
.home-img::after
{
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background-color: #000000;
   animation: showRigth  1s ease forwards;
   animation-delay: .6s;
z-index: 1;

}

.box-icons {
    position: absolute;
    bottom: 180px;
    width: 210px;
    justify-content: space-between;
    display: flex;

    a{
        position: relative;
        display: inline-flex;
        width: 40px;
        height: 40px;
        background: transparent;
        border: 2px solid #00abf0;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        font-style: 22px;
        color: #00abf0;
        overflow: hidden;
        z-index: 1;
        transition: .3s;
    }
}
.box-icons a::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .3s;
   
}
.box-icons::after
 {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    animation: showRigth  1s ease forwards;
    animation-delay: .7s;
z-index: 1;

}


.btn-box::after
 {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    animation: showRigth  1s ease forwards;
    animation-delay: .3s;
z-index: 1;

}
.box-icons a:hover{
    color: #081b29;
}
.box-icons a:hover::before {
    width: 100%;
   left: 0;
  
}


@keyframes showRigth  {
    100%{
        width: 0;
    }
}
